<table class="table table-dark">
  <tbody>
  <tr *ngIf="content.Seller_User_Name">
    <td colspan="2">{{content.Seller_User_Name}}</td>
  </tr>
  <tr *ngIf="content.Feedback_Score">
    <td>Feedback Score</td>
    <td>{{content.Feedback_Score}}</td>
  </tr>
  <tr *ngIf="content.Popularity">
    <td>Popularity</td>
    <td>{{content.Popularity}}</td>
  </tr>
  <tr *ngIf="content.Feedback_Rating_Star">
    <td>Feedback Rating Star</td>
    <td>{{content.Feedback_Rating_Star}}</td>
  </tr>
  <tr *ngIf="content.Top_Rated">
    <td>Top Rated</td>
    <td>{{content.Top_Rated}}</td>
  </tr>
  <tr *ngIf="content.Store_Name">
    <td>Store Name</td>
    <td>{{content.Store_Name}}</td>
  </tr>
  <tr *ngIf="content.Buy_Product_At">
    <td>Buy Product At</td>
    <td><a href="{{content.Buy_Product_At}}" target="_blank">Store</a></td>
  </tr>
  </tbody>
</table>
