.redCross {
  color: red;
}

.greenTick {
  color: green;
}

.star-icon {
  font-size: 25px;
}

.popularity-outer-div {
  position: relative;
}

.popularity-label-div {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 13.143px;
}

.round-progress-pos {
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}


.contentTable {
  text-align: left;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .contentTable {
    width: 50%;
    font-size: 14px;
  }
}
