<table class="table table-dark">
  <tbody>
    <tr>
      <td>Shipping Cost</td>
      <td>{{content.Shipping_Cost}}</td>
    </tr>
    <tr>
      <td>Shipping Locations</td>
      <td>{{content.Shipping_Locations}}</td>
    </tr>
    <tr>
      <td>Handling Time</td>
      <td>{{content.Handling_Time}}</td>
    </tr>
    <tr>
      <td>Expedited Shipping</td>
      <td>{{content.Expedited_Shipping}}</td>
    </tr>
    <tr>
      <td>One Day Shipping</td>
      <td>{{content.One_Day_Shipping}}</td>
    </tr>
    <tr>
      <td>Return Accepted</td>
      <td>{{content.Return_Accepted}}</td>
    </tr>
  </tbody>
</table>
