<div class="table-responsive">
  <table class="table table-dark table-hover table-striped contentTable">
    <tbody>
    <tr>
      <td>Shipping Cost</td>
      <td>{{content.Shipping_Cost}}</td>
    </tr>
    <tr>
      <td>Shipping Locations</td>
      <td>{{content.Shipping_Locations}}</td>
    </tr>
    <tr>
      <td>Handling Time</td>
      <td>{{content.Handling_Time}}</td>
    </tr>
    <tr>
      <td>Expedited Shipping</td>
      <td *ngIf="'true'==content.Expedited_Shipping"><i class="material-icons greenTick">check</i></td>
      <td *ngIf="'false'==content.Expedited_Shipping"><i class="material-icons redCross">close</i></td>
    </tr>
    <tr>
      <td>One Day Shipping</td>
      <td *ngIf="'true'==content.One_Day_Shipping"><i class="material-icons greenTick">check</i></td>
      <td *ngIf="'false'==content.One_Day_Shipping"><i class="material-icons redCross">close</i></td>
    </tr>
    <tr>
      <td>Return Accepted</td>
      <td *ngIf="'true'==content.Return_Accepted"><i class="material-icons greenTick">check</i></td>
      <td *ngIf="'false'==content.Return_Accepted"><i class="material-icons redCross">close</i></td>
    </tr>
    </tbody>
  </table>
</div>
