<div id="details" *ngIf="itemDetailsData">
  <div id="place-name">
    <h3>{{itemName}}</h3>
  </div>
  <div id="navAndInfoButtons" class="navAndInfoButtons">
    <div class="leftButtons">
      <button class="btn btn-outline-secondary" (click)="backToListings()">
        <i class="material-icons">chevron_left</i>
        List
      </button>
    </div>
    <div class="rightButtons">
      <button class="btn" (click)="shareOnFB()">
        <img id="fb_btn" class="fb_btn" src="http://csci571.com/hw/hw8/Images/facebook.png" alt="fb_btn">
      </button>
      <button class="btn wishListBtn" (click)="toggleWishList()">
        <i class="material-icons">add_shopping_cart</i>
      </button>
    </div>
  </div>
  <nav>
    <div class="nav nav-pills mb-3 justify-content-end" id="nav-tabs" role="tablist">
      <a href="#" *ngFor="let tab of itemDetailsTabs" [id]="tab.id" class="nav-item nav-link" [class.active]="tab.id === activeTab"
         role="tab" data-toggle="pill" [attr.aria-controls]="tab.id+'-panel'" (click)="setActiveTab(tab.id)">{{tab.title}}</a>
    </div>
  </nav>
  <br>
  <div class="tab-content" id="nav-tab-content">
    <div class="tab-pane" [class.active]="activeTab==='productTab_itemDetails'" role="tabpanel" id="productTab_itemDetails-panel"
         aria-labelledby="productTab_itemDetails">
      Product Details
      <!--<app-info-tab [info]="infoJson"></app-info-tab>-->
    </div>
    <div class="tab-pane" [class.active]="activeTab==='photosTab_itemDetails'" role="tabpanel" id="photosTab_itemDetails-panel"
         aria-labelledby="photosTab_itemDetails">
      Photos Details
      <!--<app-photos-tab [photos]="photoJson"></app-photos-tab>-->
    </div>
    <div class="tab-pane" [class.active]="activeTab==='shippingTab_itemDetails'" role="tabpanel" id="shippingTab_itemDetails-panel"
         aria-labelledby="shippingTab_itemDetails">
      Shipping Details
      <!--<app-map-tab [directions]="mapJson"></app-map-tab>-->
    </div>
    <div class="tab-pane" [class.active]="activeTab==='sellerTab_itemDetails'" role="tabpanel" id="sellerTab_itemDetails-panel"
         aria-labelledby="sellerTab_itemDetails">
      Seller Details
      <!--<app-reviews-tab [ggReviews]="reviewJson"></app-reviews-tab>-->
    </div>
    <div class="tab-pane" [class.active]="activeTab==='similarTab_itemDetails'" role="tabpanel" id="similarTab_itemDetails-panel"
         aria-labelledby="similarTab_itemDetails">
      Similar items Details
      <!--<app-reviews-tab [ggReviews]="reviewJson"></app-reviews-tab>-->
    </div>
  </div>
</div>
