.navAndInfoButtons {
  position: relative;
  margin-bottom: 70px;
}

.leftButtons {
  float: left;
}

.rightButtons {
  float: right;
}

.fb_btn {
  width: 30px;
  height: 30px;
}

.wishListBtn {
  padding: 8px 0 0;
}

.backBtn {
  display: flex;
  border: none;
}

.itemTitle {
  font-size: 25px;
}

.selectedWishList{
  color: #ffc523;
}

/* Overriding Imported Style Sheets */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #343a40;
}
a {
  color: #000;
}
a:hover {
  color: #2c2c2c;
}




@media screen and (max-width: 768px) {
  .nav-link {
    display: block;
    padding: 0.4rem 0.5rem;
    font-size: 14px;
  }
  #similarTab_itemDetails{
    content: "Related";
  }
}
