.navAndInfoButtons {
  position: relative;
  margin-bottom: 70px;
}

.leftButtons {
  float: left;
}

.rightButtons {
  float: right;
}

.fb_btn {
  width: 30px;
  height: 30px;
}

.wishListBtn {
  padding: 8px 0 0;
}


