.ps-form-container{
  background-color: #1d1d1d;
  width: 1000px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ps-form{
  padding-left: 120px;
}

.ps-form-header {
  font-size: 25px;
  text-align: center;
}

.ps-reqd-field{
  color: red;
}

.ps-search-btn, .ps-clear-btn{
  display: flex;
  background-color: white;
  color: #1d1d1d;
  border-color: white;
}
.ps-search-btn span, .ps-clear-btn span{
  margin-left: 3px;
}
.ps-clear-btn{
  margin-left: 30px;
}


.ps-search-btn:hover, .ps-clear-btn:hover {
  color: #000;
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}
.ps-search-btn:focus, .ps-search-btn.focus, .ps-clear-btn:focus, .ps-clear-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 111, 111, 0.5);
}
.ps-search-btn.disabled, .ps-search-btn:disabled, .ps-clear-btn.disabled, .ps-clear-btn:disabled {
  color: #000;
  background-color: #343434;
  border-color: #343434;
}
.ps-search-btn:not(:disabled):not(.disabled):active, .ps-search-btn:not(:disabled):not(.disabled).active,
.show > .ps-search-btn.dropdown-toggle {
  color: #000;
  background-color: #d3d3d3;
  border-color: #c6c6c6;
}
.ps-clear-btn:not(:disabled):not(.disabled):active, .ps-clear-btn:not(:disabled):not(.disabled).active,
.show > .ps-clear-btn.dropdown-toggle {
  color: #000;
  background-color: #d3d3d3;
  border-color: #c6c6c6;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(111, 111, 111, 0.5);
}


/* Overriding BS/Imported properties*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2,
.col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4,
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl, .col-xl-auto{
  padding-left: 0;
}

/* To remove the red cross on right end of text field */
.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none;
}
