<div class="container ps-form-container">
  <p class="ps-form-header">Product Search</p>
  <form class="ps-form">
    <!-- Keyword row -->
    <div class="form-group row">
      <label for="ps-keyword" class="col-sm-3 col-form-label">Keyword<span class="ps-reqd-field">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="ps-keyword" name="ps-keyword" placeholder="Enter Product Name (eg. iPhone 8)">
      </div>
    </div>

    <!-- Category row -->
    <div class="form-group row">
      <label for="ps-category" class="col-sm-3 col-form-label">Category</label>
      <div class="col-sm-3">
        <select id="ps-category" name="ps-category" class="form-control">
          <option *ngFor="let cat of categoryTypes" [value]="cat|catToVal">{{cat}}</option>
        </select>
      </div>
    </div>

    <!-- Condition checkboxes row -->
    <div class="form-group row">
      <label for="ps-cond-row" class="col-sm-3 col-form-label">Condition</label>
      <div class="col-sm-6" id="ps-cond-row">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ps-new" name="ps-new" value="new">
          <label class="form-check-label" for="ps-new">New</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ps-used" name="ps-used" value="used">
          <label class="form-check-label" for="ps-used">Used</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ps-unspecified" name="ps-unspecified" value="unspecified">
          <label class="form-check-label" for="ps-unspecified">Unspecified</label>
        </div>
      </div>
    </div>


    <!-- Shipping Options checkbox row -->
    <div class="form-group row">
      <label for="ps-ship-row" class="col-sm-3 col-form-label">Shipping Options</label>
      <div class="col-sm-6" id="ps-ship-row">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ps-local" name="ps-local" value="local">
          <label class="form-check-label" for="ps-local">Local Pickup</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="ps-free" name="ps-free" value="free">
          <label class="form-check-label" for="ps-free">Free Shipping</label>
        </div>
      </div>
    </div>

    <!-- Distance(Miles) row -->
    <div class="form-group row">
      <label for="ps-miles" class="col-sm-3 col-form-label">Distance (Miles)</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="ps-miles" name="ps-miles" placeholder="10">
      </div>
    </div>

    <!-- From rows -->
    <div class="form-group row">
      <label for="ps-from-rows" class="col-sm-3 col-form-label">From<span class="ps-reqd-field">*</span></label>
      <div class="col-sm-9" id="ps-from-rows">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ps-from-radio" id="ps-curr-loc" value="option1" checked>
          <label class="form-check-label" for="ps-curr-loc">Current Location</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ps-from-radio" id="ps-cust-loc" value="option2">
          <label class="form-check-label" for="ps-cust-loc">Other. Please specify zip code:</label>
        </div>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="ps-cust-zip" name="ps-cust-zip" disabled>
        </div>
      </div>
    </div>

    <!-- Buttons row -->
    <div class="form-group row">
      <button class="btn btn-primary ps-search-btn" type="submit">
        <i class="material-icons">search</i><span>Search</span>
      </button>
      <button class="btn btn-primary ps-clear-btn" type="">
        <i class="material-icons">clear_all</i><span>Clear</span>
      </button>
    </div>

  </form>
</div>
