<div class="container ps-form-container">
  <p class="ps-form-header">Product Search {{ psForm.status }}</p>
  <form class="ps-form" (ngSubmit)="psSubmit()" #psForm=ngForm>
    <!-- Keyword row -->
    <div class="form-group row">
      <label for="psKeyword" class="col-sm-3 col-form-label">Keyword<span class="ps-reqd-field">*</span></label>
      <div class="col-sm-7">
        <input type="text" id="psKeyword" name="psKeyword" isNonEmpty autocomplete="off"
               [ngClass]="{'form-control': true, 'is-invalid': psKeyword.invalid && (psKeyword.dirty || psKeyword.touched)}"
               placeholder="Enter Product Name (eg. iPhone 8)" [(ngModel)]="pForm.keyword" #psKeyword="ngModel">
        <div class="invalid-feedback">Please enter a keyword.</div>
      </div>
    </div>

    <!-- Category row -->
    <div class="form-group row">
      <label for="psCategory" class="col-sm-3 col-form-label">Category</label>
      <div class="col-sm-3">
        <select id="psCategory" name="psCategory" class="form-control"
                [(ngModel)]="pForm.category" #psCategory="ngModel">
          <option *ngFor="let cat of categoryTypes" [value]="cat|catToVal">{{cat}}</option>
        </select>
      </div>
    </div>

    <!-- Condition checkboxes row -->
    <div class="form-group row">
      <label for="ps-cond-row" class="col-sm-3 col-form-label">Condition</label>
      <div class="col-sm-6" id="ps-cond-row">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="psNew" name="psNew" value="new"
                 [(ngModel)]="pForm.condNew" #psNew="ngModel">
          <label class="form-check-label" for="psNew">New</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="psUsed" name="psUsed" value="used"
                 [(ngModel)]="pForm.condUsed" #psUsed="ngModel">
          <label class="form-check-label" for="psUsed">Used</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="psUnspecified" name="psUnspecified" value="unspecified"
                 [(ngModel)]="pForm.condUnspecified" #psUnspecified="ngModel">
          <label class="form-check-label" for="psUnspecified">Unspecified</label>
        </div>
      </div>
    </div>


    <!-- Shipping Options checkbox row -->
    <div class="form-group row">
      <label for="ps-ship-row" class="col-sm-3 col-form-label">Shipping Options</label>
      <div class="col-sm-6" id="ps-ship-row">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="psLocal" name="psLocal" value="local"
                 [(ngModel)]="pForm.localPickup" #psLocal="ngModel">
          <label class="form-check-label" for="psLocal">Local Pickup</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="psFree" name="psFree" value="free"
                 [(ngModel)]="pForm.freeShipping" #psFree="ngModel">
          <label class="form-check-label" for="psFree">Free Shipping</label>
        </div>
      </div>
    </div>

    <!-- Distance(Miles) row -->
    <div class="form-group row">
      <label for="psMiles" class="col-sm-3 col-form-label">Distance (Miles)</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="psMiles" name="psMiles" placeholder="10"
               value="" [(ngModel)]="pForm.miles" #psMiles="ngModel">
      </div>
    </div>

    <!-- From rows -->
    <div class="form-group row">
      <label for="ps-from-rows" class="col-sm-3 col-form-label">From<span class="ps-reqd-field">*</span></label>
      <div class="col-sm-9" id="ps-from-rows">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="psFromRadio" id="psCurrLoc" checked #psFromRadio="ngModel"
                 value="curr" [(ngModel)]="pForm.zipCodeType" (change)="zipRadioToggle()">
          <label class="form-check-label" for="psCurrLoc">Current Location</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="psFromRadio" id="psCustLoc" #psFromRadio="ngModel"
                 value="cust" [(ngModel)]="pForm.zipCodeType" (change)="zipRadioToggle()">
          <label class="form-check-label" for="psCustLoc">Other. Please specify zip code:</label>
        </div>
        <div class="col-sm-7">
          <input type="text" [formControl]="zipAutoCompleteControl"
                 id="psCustZip" name="psCustZip"
                 required isNonEmpty isValidZip
                 autocomplete="off"
                 [disabled]="pForm.zipCodeType=='curr'"
                 [matAutocomplete]="zipAuto"
                 [matAutocompleteDisabled]="isZipAutoCompleteDisabled"
                 (keyup)="fetchNewZips(zipAutoCompleteControl.value)"
                 [ngClass]="{'form-control': true, 'is-invalid': zipAutoCompleteControl.invalid
                 && (zipAutoCompleteControl.dirty || zipAutoCompleteControl.touched)}" >

          <mat-autocomplete #zipAuto="matAutocomplete">
            <mat-option *ngFor="let zip of fetchedZips" [value]="zip">
              {{zip}}
            </mat-option>
          </mat-autocomplete>
          <div class="invalid-feedback">Please enter a zip code.</div>
        </div>
      </div>
    </div>

    <!-- Buttons row -->
    <div class="form-group row">
      <button class="btn btn-primary ps-search-btn" type="submit" [disabled]="!isZipCodeFetched || psForm.invalid || (zipAutoCompleteControl.invalid)">
        <i class="material-icons">search</i><span>Search</span>
      </button>
      <button class="btn btn-primary ps-clear-btn" type="reset" (click)="clearPSForm()">
        <i class="material-icons">clear_all</i><span>Clear</span>
      </button>
    </div>

  </form>
</div>
