.card-row-div{
  margin-bottom: 8px;
}

.card-row{
  background-color: #454d55;
  text-align: unset;
}

.card-contents{
  text-align: unset;
  margin: 12px;
}

.card-content-items p{
  margin-bottom: 0;
}

.card-image{
  margin: 15px;
  height: 130px;
  width: 130px;
  text-align: center;
}
.card-image img{
  height: 130px;
  width: 130px;
}

.card-product-name{
  color: #78cfd2;
}
.card-price{
  color: #50c854;
}
.card-shipping-cost{
  color: #ffc523;
}
.card-days-left{
  color: #ffffff;
}

.showMoreLessBtn{
  text-align: center;
}
