.card-row-div{
  margin-bottom: 8px;
}

.card-row{
  background-color: #202429;
  text-align: unset;
}

.card-contents{
  text-align: unset;
  margin: 12px;
}

.card-content-items p{
  margin-bottom: 0;
}

.card-image{
  margin: 15px;
  height: 130px;
  width: 130px;
  text-align: center;
}
.card-image img{
  height: 130px;
  width: 130px;
}

.card-product-name{
  color: #5c979a;
}
.card-price{
  color: #a4e093;
}
.card-shipping-cost{
  color: #dbb14f;
}
.card-days-left{
  color: #e7e7e8;
}

.showMoreLessBtn{
  text-align: center;
}


@media screen and (max-width: 768px) {
  .row {
    display: unset;
    flex-wrap: unset;
  }
}
