.photo-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.photo-column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.photo-column a img {
  margin-top: 8px;
  vertical-align: middle;
  border: 5px solid black;
}

@media screen and (max-width: 800px) {
  .photo-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .photo-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
